langchain-google-genai
google-generativeai
fastapi
uvicorn
python-multipart
langchain
langchain-community
langchain-ollama
langchain-chroma
langchain-text-splitters
pydantic
pytesseract
pillow
pymupdf
chromadb
python-dotenv
